
 .generaltable {
    display:table;
    width:97%;
    margin:0 5px;
}

 .generaltable-Row {
	display: table-row;
	/*    text-align: center;*/
}

 .generaltable-Heading {
    background: #f8f8f8;
    color: #8a8a8a;
    display: table-header-group;
}

 .generaltable-Cell,.generaltable-Head {
    display: table-cell;
    padding: 3px 10px;
    border-bottom: 1px solid #ccc;
}

 .generaltable-Foot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
 .generaltable-Body {
	display: table-row-group;
}

 .cust-colsize{width:5%;}


 .generaltable-Cell span input{ float: left;
    margin: 3px; }
 .generaltable-Cell span{padding : 0 3px;}
