<head>
  <title>tabularapp</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>


{{>yield}}

</body>

<template name="main">
      <!--{{>FcTableView table=FcTableTabular.userData selector=selector}}-->
    username:<input type="text" name="username"  value="{{getQueryParams 'username'}}">
    <input type="button" value="Search" id="search">
    {{>RsTableView table=FcTableTabular.userData selector=selector  }}
</template>

