<template name="FcUITableView">
    {{#if needFilter}}
        <div class="swiper-container Calphabets">
            <ul class="swiper-wrapper">
                {{> alphabetFilter}}
            </ul>
        </div>
    {{/if}}
    <div class="regional-container">
        <div class="generaltable">
            <div class="generaltable-Heading">
                <div class="generaltable-Row">
                    {{#each getTableTitle}}
                        <div class="generaltable-Head">
                          <a href="#" class="sortColumn" data-sorted="{{checkSortingOfColumnSorted this}}">{{this.Title}}</a>
                          {{#with checkSortingOfColumn this}}
                            <span><i class="fa {{this}}"></i></span>
                          {{/with}}

                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="generaltable-Body">
                {{#each getStaticTableData}}
                    <div class="generaltable-Row" data-toggle="{{extraAtts ..}}" data-target="#{{this.collectionData._id}}" aria-expanded="false">
                        {{#each this.columnData}}
                            {{#if this.templateName}}
                                {{> UI.dynamic template=this.templateName data=this.data}}
                            {{else}}
                                <div class="generaltable-Cell">{{this}} </div>
                            {{/if}}

                        {{/each}}
                    </div>
                    {{#with isAccordian ..}}
                        {{> UI.dynamic template=this data=../collectionData}}
                    {{/with}}
                {{/each}}
            </div>

        </div>

    </div>

    <nav>
        <select class="selectPageLimit" style="margin-right: 64%;float: left; margin-top: 2%;">
            {{#with getCurrentPageLimit}}
                <option value="10" {{selected this 10}}>10</option>
                <option value="20" {{selected this 20}}>20</option>
                <option value="50" {{selected this 50}}>50</option>
                <option value="100" {{selected this 100}}>100</option>
            {{/with}}
        </select>
        <ul class="pagination" style="margin-right: 2%;float: right;">
            <li class="{{lessResults}}">
                <a href="#" id="first">
                    First
                </a>
            </li>
            <li class="{{lessResults}}">
                <a href="#" id="previous">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>

              {{#each getPagination}}
                <li class="{{currentPageNumberClass this}}"><a href="#" class="paginationNumber" data-page="{{this}}">{{this}}</a></li>
              {{/each}}

            <li class="{{moreResults}}">
                <a href="#" id="next">
                    Next <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            <li class="{{moreResults}}">
                <a href="#" id="last">
                    Last
                </a>
            </li>
        </ul>
    </nav>
</template>
